body {
    font-family: sans-serif;
}
.sidebar {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 25px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
} 
#home-section {
    position: relative;
    margin-bottom: 50px;
}
#home-section p {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 45px;
    text-align: center;
}

@media screen and (min-width:800) , (max-width:900px) {
    body{
        background-color: lightgrey;
        font-size: small;
    }
}