<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
 
    <div class="container-fluid">
        <div class="row">
        <!-- <input type="checkbox" id="check"> -->
        <!-- <label for ="check">
            <i class="fas-fa-bars" id="btn"></i>
            <i class="fas-fa-times" id="cancel"></i>
            
            
        </label> -->
        <div class="col-6 sidebar">
            <header>
                <i class="fa fa-twitter"></i>
                 <i class="fa-fa-facebook"></i>
                <i class="fas- fa-instagram"></i>
                <i class="fas- fa-linkedin"></i>
            </header>
            
            <ul>
                <li><a href="#"><i class="fas-fa-qrcode"></i>Home</a></li>
                <li><a href="#"><i class="fas-fa-link"></i>About</a></li>
                <li><a href="#"><i class="fas-fa-stream"></i>Resume</a></li>
                <li><a href="#"><i class="fas-fa-calendar-week"></i>Portfolio</a></li>
                 <li><a href="#"><i class="fas-fa-question-circle"></i>Services</a></li>
                 <li><a href="#"><i class="fas-fa-envelope"></i>Contact</a></li>
            </ul>
        </div>
    </div>
</div>
</body>


</html>